@font-face {
    font-family: "TheGoodMonolith";
    src: url("./TheGoodMonolith.woff");
}
$primary-color: lighten(#10002f, 5%);

body{
    font-family: 'TheGoodMonolith', sans-serif;
    font-size: 1em;
    color: white;
    background-color: $primary-color;
    .vertical-centerer{
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .centerer{
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .centerer-items{
        display: -ms-inline-flexbox;
        display: -webkit-inline-flex;
        display: inline-flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: center;
        -ms-flex-pack: start;
        justify-content: center;
        -webkit-align-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    #download_palette, #download_palette_png{
        text-decoration: none;
        color: gold;
        width: 100%;
        height: 50px;
        background-color: lighten($primary-color, 20%);
        padding: 10px;
        padding-bottom: 12px;
        border-radius: 10px;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .color_square{
        width: 32px;
        height: 32px;
        border-width: 2px;
        border-radius: 3px;
        border-color: black;
        border-style: solid;
        margin-left: 1px;
        margin-bottom: 1px;
       } 

    .color_row{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: center;
    }

    input[type='text']{
        appearance: none;
        border: 0;
        background-color: $primary-color;
        background-color: none;
        color: white;
        font-family: 'TheGoodMonolith', sans-serif;
        font-size: 1em;
        transition: width 0.4s ease-in-out;
        width: 100px;
        padding: 5px;
        border-bottom: 2px solid lighten($primary-color, 50%);
    }

    input[type='text']:focus{
        width: 200px
    }

    #add_color, #end_color{
        visibility: hidden;
    }

    #color_picker_add, #color_picker_end{
        border-width: 2px;
        border-radius: 3px;
        border-color: lighten(black, 20%);
        border-style: solid;
    }

    input[type=button]{
        border: none;
        background-color: lighten($primary-color, 50%);
        color: white;
        font-size: 1em;
        margin-left: 5px;
    }

    select, option{
        font-family: 'TheGoodMonolith', sans-serif;
        font-size: 1em;
        background-color: lighten($primary-color, 50%);
        color: white;
    }

    input[type=range] {
        height: 3px;
    }

    #interpolation{
        width:100%
    }
    .delete_button{
        opacity: 0.2;
    }
    
    .delete_button:hover{
        opacity: 1;
    }
}


